name: CD - Deploy no Render

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Enviar deploy para Render
        run: |
          curl "$RENDER_DEPLOY_HOOK"
    env:
      RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}
